openapi: 3.0.3
info:
  title: GetEx API
  description: |
    Документація REST API проекту GetEx.

    ## Авторизація

    Потрібно передавати токен у **заголовку запиту** `token`.

    | Параметр   | Значення |
    | ---------- | -------- |
    | Заголовок  | `token`  |
    | Формат     | Рядок токена, виданий для вашого облікового запису |

    
  version: 1.0.2
  contact:
    name: API Support
  x-logo:
    url: getex-logo-v2.png
    altText: GetEx API
    backgroundColor: "#FFFFFF"

servers:
  - url: https://exchange.bhb.org.ua/hs/exchange
    description: Продакшн (production)

tags:
  - name: Методи API
    

paths:
  /ping:
    get:
      tags:
        - Методи API
      summary: ping
      description: |
        Перевірка доступності API. Повертає рядок `pong`. Авторизація не потрібна.

        **Приклад запиту:**
        ```bash
        curl -X GET https://exchange.bhb.org.ua/hs/exchange/ping
        ```
      operationId: ping
      security: []
      responses:
        '200':
          description: Сервіс доступний. Тіло відповіді — рядок `pong`.
          content:
            text/plain:
              schema:
                type: string
                example: "pong"
              example: "pong"

  /getPrice:
    get:
      tags:
        - Методи API
      summary: Прайс-лист
      description: |
        Повертає масив позицій прайсу. Потрібен валідний токен (заголовок `token`).

        **Приклад запиту:**
        ```bash
        curl -X GET https://exchange.bhb.org.ua/hs/exchange/getPrice \
          -H "token: YOUR_TOKEN"
        ```
      operationId: getPrice
      responses:
        '200':
          description: Масив позицій прайсу
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PriceItem'
              example:
                - product_id: "53149a6a-1688-11ee-a241-00505685ce63"
                  product_code: "УТРА0097506"
                  buyer_code: ""
                  buyer_barcode: ""
                  name: "Chisto Пакети для льоду 240 кубиків"
                  category: "Пакети для зберігання харчових продуктів"
                  vendor: "Чисто"
                  trademark: "Chisto"
                  brend: "Чисто"
                  uktzed: "3923210000"
                  amount: 391
                  price: 33.63
                  retail_price: 0
                  barcodes:
                    - "4823098414414"
                - product_id: "e0e00312-f638-11e5-b5f8-000c2942d205"
                  product_code: "УТРА0035753"
                  buyer_code: ""
                  buyer_barcode: "4820168431630, 4820168431625"
                  name: "Чистюня Засіб для чистки \"Сантри\" 1л"
                  category: "Засіб для чищення унітазів"
                  vendor: "Ельфа"
                  trademark: "Чистюня"
                  brend: "Чистюня"
                  uktzed: "3402509000"
                  amount: 136
                  price: 59.21
                  retail_price: 0
                  barcodes:
                    - "4820168431630"
        '400':
          description: Відсутній обов'язковий заголовок token. / Missing required header token.
        '401':
          description: Токен відсутній або недійсний. / Token is missing or invalid.
        '404':
          description: Ім'я методу для контрагента не визначено. / Method for the specified counterparty is not defined.
        '500':
          description: Невідома помилка сервера. / Unidentified server error.

components:
  schemas:
    PriceItem:
      type: object
      description: Позиція прайсу (відповідає структурі з модуля 1С)
      properties:
        product_id:
          type: string
          description: UID номенклатури (УникальныйИдентификатор)
        product_code:
          type: string
          description: Код картки номенклатури
        buyer_code:
          type: string
          description: Код номенклатури контрагента (покупця)
        buyer_barcode:
          type: string
          description: Штрихкод номенклатури контрагента (покупця), може бути кілька через кому
        name:
          type: string
          description: Повна назва номенклатури
        category:
          type: string
          description: Категорія товару
        vendor:
          type: string
          description: Виробник
        trademark:
          type: string
          description: Торгова марка
        brend:
          type: string
          description: Бренд
        uktzed:
          type: string
          description: Код продукту згідно з УКТЗЕД
        amount:
          type: number
          description: Кількість на залишку
        price:
          type: number
          description: Ціна з ПДВ
        retail_price:
          type: number
          description: Рекомендована роздрібна ціна
        barcodes:
          type: array
          items:
            type: string
          description: Масив штрихкодів номенклатури
  securitySchemes:
    tokenHeader:
      type: apiKey
      in: header
      name: token
      description: |
        **Авторизація по токену**

        Додайте заголовок `token` до запиту з значенням вашого токена.

security:
  - tokenHeader: []
